body {
	overflow-x: hidden;
}
.landing {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: -2rem;
}
.landing img {
	position: fixed;
	top: 0;
	z-index: -3;
	height: 100%;
	width: 100%;
	background-size: cover;
	overflow: hidden;
}
.landing-section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	color: #ffe4e1;
	height: 90%;
	width: 100%;
}
.landing-section .cit {
	color: #ff6347;
	font-size: 10rem;
}
.landing-section .cta {
	padding: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
}
.landing-section button {
	background-color: transparent;
	border: 0.7px solid #ff6347;
	border-radius: 10px;
}
.landing-section button:hover {
	background-color: #ff6347;
	color: #000;
	border: none;
	transition: all 0.7s ease-in-out;
}
.apartments {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
}
#form {
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	color: #000;
	text-align: center;
}
input#bookBtn {
	color: red;
	width: 100px;
}
#learner {
	position: absolute;
	bottom: 10px;
}

#learner button {
	padding: 10px;
	font-weight: 400;
	font-size: 1.7rem;
	border: 0.5px solid #000;
	color: #000;
}
#learner button:hover {
	background-color: #ff6347;
	color: #fff;
	transition: all.5s ease-in-out;
}
.thumbnail h4 {
	color: #000;
	text-align: center;
	font-weight: 600;
}
footer {
	background-color: #000;
}
.topper {
	display: flex;
	flex-flow: row wrap;
}
.topper .logo {
	float: left;
	padding: 1.3rem;
}
.topper .retop {
	position: absolute;
	right: 10px;
	padding: 1.3rem;
}
.midder {
	padding: 0 4rem;
}
.about,
.connect,
.contacts,
.subscribe {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.lachu {
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 400;
	padding: 1rem;
}
.about p,
.connect p,
.contacts p,
.subscribe p {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 400;
	padding-right: 1rem;
	border-right: 0.5px solid #ff6347;
}
.about a,
.connect a,
.contacts a,
.subscribe a {
	color: #ff6347;
	padding: 0 2rem;
}
.about a:hover,
.connect a:hover,
.contacts a:hover,
.subscribe a:hover {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease;
} /* */
